# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
*.lock

# IDE
.idea/
.vscode/
*.swp

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/local.properties
android/key.properties
android/*.jks

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/flutter_export_environment.sh

# Generated
*.g.dart
*.freezed.dart
*.gr.dart

# Env
.env
.env.local
